body{
  background-color: #72b3f6;
}

#header {
  margin-left: 20%;
}

.header-text{
  font-size: 60px;
  margin-top: auto;
  display: inline-block;
}

#logo {
  vertical-align: middle;
  width: 6.5%;
  height: 6.5%;
}

.left-button{
  display: block;
  background-color: #07124a;
  border: 2px solid #07124a;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-left: 20%;
  margin-top: 50px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 400px;
}

.left-button:hover{
  background-color: #a5e3fa;
  color: black;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #07124a;
  display: inline-flex;
  margin-left: 78%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #a5e3fa;
  color: black;
}

.topnav a:hover #stats{
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #f7df5e;
  color: black;
}

#stats {
  vertical-align: middle;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(137deg) brightness(104%) contrast(101%);
}


footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    color: black;
    height: 100%;
}

.dropbtn {
  display: block;
  background-color: #07124a;
  border: 2px solid #07124a;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 26px;
  font-size: 20px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 400px;
  margin-left: 20%;
  margin-top: 5%;
}

.dropbtn:hover{
  background-color: #a5e3fa;
  color: black;
}

#images{
  margin-top: 10%;
}

#soccer_one{
  margin-left: 10%;
}

#soccer_two {
  margin-left: 25%;
}

#soccer_field {
  position: absolute;
  margin-left: 70%;
  width: 25%;
}
