body{
  background-color: #72b3f6;
}

#header {
  margin-left: 20%;
}

.header-text{
  font-size: 60px;
  margin-top: auto;
  display: inline-block;
}

#logo {
  vertical-align: middle;
  width: 6.5%;
  height: 6.5%;
}

.top {
  font-size: 100px;
  margin-top: auto;
  margin-left: 100%;
  display: inline-block;
}

.search input[type=text] {
  padding: 6px;
  border: none;
  margin-left: 20%;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 400px;
}
.values {
    display: flex;
    position: relative;
}
